<div>
    <ba-sidebar></ba-sidebar>
    <page-top></page-top>

    <div class="al-main">
        <div class="al-content">
            <content-top></content-top>

            <!-- BEGIN CUSTOM HTML -->
            <div ng-controller="PacientesController as ctrl">

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8" style="padding-bottom: 17px">
                        <button class="btn btn-success" ui-sref="pacientes_create()">
                            <span class="fa fa-fw fa-user-plus"></span>
                            <strong>Agregar paciente</strong>
                        </button>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <form autocomplete="off" ng-submit="ctrl.search()">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="find" class="form-control ng-pristine ng-valid ng-touched" placeholder="Buscar" ng-model="ctrl.pagination.search" ng-change="ctrl.search()">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <span class="fa fa-fw fa-search"></span>
                                            <strong>Buscar</strong>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">

                        <div class="mb16 rel">

                            <mi-loader ng-show="ctrl.loading"></mi-loader>

                            <div class="panel panel-primary animated zoomIn">
                                <div class="panel-heading">
                                    <strong>Listado de pacientes</strong>
                                </div>

                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>CUI</th>
                                                <th>Teléfono</th>
                                                <th>Móvil</th>
                                                <th>Fecha de nacimiento</th>
                                                <th>Edad</th>
                                                <th style="width: 290px;">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in ctrl.array">
                                                <td>{{ item.persona.persona }}</td>
                                                <td>{{ item.persona.cui || "---" }}</td>
                                                <td>{{ item.persona.telefono || "---" }}</td>
                                                <td>{{ item.persona.celular || "---" }}</td>
                                                <td>
                                                    <span ng-if="item.fecha_nacimiento">{{ item.fecha_nacimiento | date: 'dd/MMMM/yyyy' }}</span>
                                                    <span ng-if="!item.fecha_nacimiento">---</span>
                                                </td>
                                                <td>
                                                    <span ng-if="item.edad">{{ item.edad }} años</span>
                                                    <span ng-if="!item.edad">---</span>
                                                </td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn btn-money" title="Cobro" ui-sref="cobros_paciente({ id: item.id })">
                                                            <span class="fa fa-money"></span>
                                                        </button>
                                                        <button class="btn btn-info" title="Nueva consulta" ng-if="ctrl.esMedico" ui-sref="consultas_create({ id: item.id })">
                                                            <span class="fa fa-user-md"></span>
                                                        </button>
                                                        <button class="btn btn-info" title="Nuevo caso" ng-if="ctrl.esPsicologo" ui-sref="casos_create({ id: item.id })">
                                                            <span class="fa fa-file-text"></span>
                                                        </button>
                                                        <button class="btn btn-success" title="Reservar cita" ng-click="ctrl.create(item)">
                                                            <span class="fa fa-clock-o"></span>
                                                        </button>
                                                        <button class="btn btn-primary" title="Ver detalles" ng-click="ctrl.details(item)">
                                                            <span class="fa fa-bars"></span>
                                                        </button>
                                                        <button class="btn btn-warning" title="Editar" ui-sref="pacientes_edit({ id: item.id })">
                                                            <span class="fa fa-pencil"></span>
                                                        </button>
                                                        <button class="btn btn-danger" title="Eliminar" ng-click="ctrl.delete(item)">
                                                            <span class="fa fa-trash"></span>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="custom-pagination pagination-sm" uib-pagination previous-text="Anterior" next-text="Siguiente" first-text="Primero" last-text="Último" total-items='ctrl.pagination.total_items' ng-model='ctrl.pagination.current_page' max-size='ctrl.pagination.max_size' boundary-links='true' rotate='false' ng-change="ctrl.page_changed()">
                            </div>
                        </div>

                        <!--<pre>Página {{ ctrl.current_page || "--" }} / {{ ctrl.num_pages || "--" }} </pre>-->

                    </div>

                </div>

            </div>
            <!-- END CUSTOM HTML -->

        </div>
    </div>

    <footer class="al-footer clearfix">
        <!--<div class="al-footer-right">Created with <i class="ion-heart"></i></div>-->
        <div class="al-footer-main clearfix">
            <div class="al-copy">
                <span style="font-size:14px;">La Fundación Talita Kum</span>
            </div>
            <ul class="al-share clearfix">
                <!--<li><i class="socicon socicon-facebook"></i></li>
                <li><i class="socicon socicon-twitter"></i></li>
                <li><i class="socicon socicon-google"></i></li>
                <li><i class="socicon socicon-github"></i></li>-->
            </ul>
        </div>
    </footer>

    <!--<back-top></back-top>-->
</div>
