<div style="margin: 32px;">
    <div class="row text-center">
        <div class="col-xs-12">
            <div class="col-xs-12 text-center" style="font-size:1.75em;">
                <span class="fa fa-question-circle-o fa-fw fa-5x"></span>
            </div>
            <div class="col-xs-12">
                <h3>¿Aperturar caja?</h3>
                <span style="font-size: 1.25em;">La caja será aperturada con una cantidad monetaria de </span>
                <strong style="font-size: 1.25em;">{{ (total_apertura || 0) | currency : "Q " : 2 }}</strong>
            </div>
            <div class="col-xs-12" style="margin-top:32px;">
                <button class="btn btn-md btn-danger" style="font-size:1.15em; margin-right: 3px;" ng-click="closeThisDialog(0)">
                    <span class="fa fa-times fa-fw"></span>
                    <strong>No, aún no</strong>
                </button>
                <button class="btn btn-md btn-success" style="font-size:1.15em; margin-left: 3px;" ng-click="confirm(1)">
                    <span class="fa fa-check fa-fw"></span>
                    <strong>Sí, aperturar</strong>
                </button>
            </div>
        </div>
    </div>
</div>
