<div>
    <ba-sidebar></ba-sidebar>
    <page-top></page-top>

    <div class="al-main">
        <div class="al-content">
            <content-top></content-top>

            <!-- BEGIN CUSTOM HTML -->
            <div ng-controller="ReconsultaController as ctrl">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="mb16 rel">
                            <mi-loader ng-show="ctrl.loading_item"></mi-loader>
                            <div class="panel panel-primary animated zoomIn">
                                <div class="panel-heading">
                                    <strong>Vista previa de la consulta</strong>
                                    <span class="rel pl16">
                                        <button style="position: absolute; top: -3px; padding: 3px 10px;" ui-sref="consultas_edit({ id: ctrl.consulta.id })" class="btn btn-success btn-sm" type="button">
                                            <strong>Ver consulta completa</strong>
                                            <span class="fa fa-fw fa-arrow-right"></span>
                                        </button>
                                    </span>
                                </div>
                                <div class="panel-body">
                                    <div class="row">

                                        <div class="row mh0 form-group">
                                            <div class="col-xs-12 col-sm-12 col-md-4">
                                                <div class="area-info">
                                                    <div class="mb2">
                                                        <strong>Nombre completo:</strong>
                                                    </div>
                                                    <div class="mb6 mt10 ml8">
                                                        <span>{{ ctrl.consulta.paciente.persona.persona || "---" }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-4">
                                                <div class="area-info">
                                                    <div class="mb2">
                                                        <strong>CUI:</strong>
                                                    </div>
                                                    <div class="mb6 mt10 ml8">
                                                        <span>{{ ctrl.consulta.paciente.persona.cui || "---" }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-4">
                                                <div class="area-info">
                                                    <div class="mb2">
                                                        <strong>Movil:</strong>
                                                    </div>
                                                    <div class="mb6 mt10 ml8">
                                                        <span>{{ ctrl.consulta.paciente.persona.celular || "---" }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mh0 form-group">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="area-info">
                                                    <div class="mb2">
                                                        <strong>Motivo de la consulta:</strong>
                                                    </div>
                                                    <div class="mb6 mt10 ml8">
                                                        <span>{{ ctrl.consulta.motivo || "---" }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8" style="padding-bottom: 17px">
                        <button class="btn btn-success" ng-disabled="!ctrl.consulta.id" ui-sref="reconsultas_create({ id: ctrl.consulta.id })">
                            <span class="fa fa-fw fa-plus"></span>
                            <strong>Nueva reconsulta</strong>
                        </button>
                        <button class="btn btn-danger" ng-click="ctrl.createCita()" ng-disabled="!ctrl.consulta.id">
                            <span class="fa fa-fw fa-clock-o"></span>
                            <strong>Reservar cita</strong>
                        </button>
                        <button class="btn btn-primary" ui-sref="archivos_consulta({ id: ctrl.consulta.id })" ng-disabled="!ctrl.consulta.id">
                            <span class="mdi mdi-file-multiple"></span>
                            <strong>Archivos adjuntos</strong>
                        </button>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <form autocomplete="off" ng-submit="ctrl.search()">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="find" class="form-control ng-pristine ng-valid ng-touched" placeholder="Buscar" ng-model="ctrl.pagination.search" ng-change="ctrl.search()">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <span class="fa fa-fw fa-search"></span>
                                            <strong>Buscar</strong>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">

                        <div class="mb16 rel">

                            <mi-loader ng-show="ctrl.loading"></mi-loader>

                            <div class="panel panel-primary animated zoomIn">
                                <!-- <div class="panel-heading">
                                    <strong>Listado de citas</strong>
                                </div> -->

                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>

                                            <tr>
                                                <!-- <th style="background-color: #202C3A;" class="text-center text-default2" colspan="3">
                                                    <span>Colaborador</span>
                                                </th> -->
                                                <th style="background-color: #1D2531;" class="text-center text-default2" colspan="3">
                                                    <span>Paciente</span>
                                                </th>
                                                <th style="background-color: #202C3A;" class="text-center text-default2" colspan="2">
                                                    <span>Consulta</span>
                                                </th>
                                            </tr>

                                            <tr>
                                                <!-- <th>ID</th> -->
                                                <!-- <th style="min-width:220px;">Nombre</th>
                                                <th>Movil</th>
                                                <th>Profesión</th> -->
                                                <th style="min-width:144px;">Fecha</th>
                                                <th style="min-width:220px;">Nombre</th>
                                                <th>Móvil</th>
                                                <th>Motivo</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in ctrl.array">
                                                <!-- <td>{{ item.id }}</td> -->
                                                <!-- <td>{{ item.colaborador.persona.persona }}</td>
                                                <td>{{ item.colaborador.persona.celular || "---" }}</td>
                                                <td>{{ item.colaborador.profesion.profesion || "---" }}</td> -->
                                                <td>{{ item.fecha_creacion | date: 'dd/MMM/yyyy' }}</td>
                                                <td>{{ item.consulta.paciente.persona.persona }}</td>
                                                <td>{{ item.consulta.paciente.persona.celular || "---" }}</td>
                                                <td>{{ item.motivo || "---" }}</td>
                                                <td style="width:140px;">
                                                    <div class="btn-group">
                                                        <a href="/api/reconsultas/pdf_expediente/?id={{ item.id }}" target="_blank" class="btn btn-danger" title="Descargar reconsulta en PDF">
                                                            <span class="fa fa-download"></span>
                                                        </a>
                                                        <a href="/api/reconsultas/pdf_tratamiento/?id={{ item.id }}" target="_blank" class="btn btn-info" title="Imprimir tratamiento">
                                                            <span class="fa fa-print"></span>
                                                        </a>
                                                        <button class="btn btn-warning" title="Ver reconsulta" ui-sref="reconsultas_edit({ id: item.id })">
                                                            <span class="fa fa-arrow-right"></span>
                                                        </button>
                                                        <!-- <button class="btn btn-danger" title="Eliminar consulta" ng-click="ctrl.delete(item)">
                                                            <span class="fa fa-trash"></span>
                                                        </button> -->
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="custom-pagination pagination-sm" uib-pagination previous-text="Anterior" next-text="Siguiente" first-text="Primero" last-text="Último" total-items='ctrl.pagination.total_items' ng-model='ctrl.pagination.current_page' max-size='ctrl.pagination.max_size' boundary-links='true' rotate='false' ng-change="ctrl.page_changed()">
                            </div>
                        </div>

                        <!--<pre>Página {{ ctrl.current_page || "--" }} / {{ ctrl.num_pages || "--" }} </pre>-->

                    </div>

                </div>

            </div>
            <!-- END CUSTOM HTML -->

        </div>
    </div>

    <footer class="al-footer clearfix">
        <!--<div class="al-footer-right">Created with <i class="ion-heart"></i></div>-->
        <div class="al-footer-main clearfix">
            <div class="al-copy">
                <span style="font-size:14px;">La Fundación Talita Kum</span>
            </div>
            <ul class="al-share clearfix">
                <!--<li><i class="socicon socicon-facebook"></i></li>
                <li><i class="socicon socicon-twitter"></i></li>
                <li><i class="socicon socicon-google"></i></li>
                <li><i class="socicon socicon-github"></i></li>-->
            </ul>
        </div>
    </footer>

    <!--<back-top></back-top>-->
</div>
